@model SequenceGenerator.ViewModel.SequenceViewModel

@{
    ViewBag.Title = "SequenceGenerator";
}

<h2 class="success">Sequence generator up to number @Html.DisplayNameFor(m=>m.Number)
    </h2>
<br/>
    <div class="container" >
        <table class="table table-responsive table-bordered">
            <tr class="success">
                <td class="col-md-4 col-xs-6">
                   Sequence:
                </td>
                <td class="col-md-4 col-xs-6">
                    @foreach (var allNumber in Model.NumbersList)
                    {
                        @Html.DisplayFor(x => allNumber, "DisplayTemplate")
                    }
                </td>
            </tr>
        </table>
    </div>

    @Html.ActionLink("Back to HomePage", "Index", "Default", new {@class = "btn btn-success"})
